html {
    scroll-behavior: smooth;
}

body, h1, h3 {
    margin: 0;
    color: #FFFFFF;
}

h3 {
    margin-bottom: 40px;
}

menu {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: flex-end;
    gap: 20%;
    width: 50%;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    background: url(../img/bg-load.jpg) no-repeat;
    height: 100vh;
}

body > div {
    background: linear-gradient(180deg, transparent, #070A29 20%, #070A29 31%, #0B1043 45.07%, #0D1568 56.16%, #0B1043 62.92%, #070A29 77.85%, #070A29 100%);
}

#load {
    background: url(../img/bg-load.jpg);
    background-size: cover;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 0 15%;
    position: fixed;
    top: 0;
    width: 70%;
    transition: opacity 0.75s, visibility 0.75s;
    z-index: 999;
}

#load.hide {
    opacity: 0;
    visibility: hidden;
}

#load > div:first-child {
    font-family: "Montserrat", sans-serif;
    display: flex ;
    align-items: baseline;
    gap: 3%;
}

#ring {
    position: relative;
    width: 7vw;
    height: 5vw;
    display: flex;
    align-items: center;
    justify-content: center; 
}

#ring > div {
    position: absolute;
    width: 100%;
    height: 100%;
}

#ring > div:first-child {
    border-radius: 50%;
    border: 1px solid #737373;
}

#ring > div:last-child {
    font-size: 1vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

#progress {
    width: 0%;
    height: 0.5vw;
    background: linear-gradient(to right, #5721B7 40%, #D668CD);
    border-radius: 5px;
    box-shadow: 0 0 20px 10px #D668CD50;
    margin-top: 10px;
}

#load h1 {
    font-family: 'HvDTrial Graphit', sans-serif;                      
    background: linear-gradient(#FFFFFF 40%, #000014);
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
    font-size: 10vw;
}

header {
    display: none;
    font-family: 'HvDTrial Graphit', sans-serif;
    position: fixed;
    width: 100%;
    height: 80px;
}

header #bg-blur {
    height: 80px;
    width: 100%;
    position: absolute;
    backdrop-filter: blur(100px);
    z-index: -1;
}

header > div:last-child {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    padding: 0 15%;
}

#mobile {
    display: none;
}

#mobile menu {
    display: none;
    flex-direction: column;
    position: absolute;
    left: 0;
    top: 70px;
    width: 100%;
    align-items: center;
    background: #0d0d26;
}

#mobile menu.show {
    display: flex;
}

#mobile menu li {
    padding: 15px;
}

#home {
    font-family: 'HvDTrial Graphit', sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 0 15%;
    position: relative;
}

#home h2 {
    margin-bottom: 0;
    font-weight: 100;
    font-size: 3.5vw;
}

#home p {
    margin: 0;
    font-size: 5.9vw;
    font-weight: 500;
}

#home p span {
    background: linear-gradient(to right, #7077DD, #AC9FE3, #7077DD);
    animation: textgradient 3s ease-in-out infinite;
    -webkit-background-clip: text;
            background-clip: text;
    -webkit-text-fill-color: transparent;
}

#home .btnStart {
    position: absolute;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
}

#home .btnStart a {
    font-family: "Open Sans", sans-serif;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    text-align: center;
    transform: translate(-50%, -50%);
    z-index: -1;
}

#about {
    font-family: "Fira Code", monospace;
    text-align: center;
    padding: 0 15%;
}

#about h3 {
    font-size: 5.3vw;
}

@media screen and (max-width: 768px) {
    #mobile {
        display: block;
    }

    header menu {
        display: none;
    }
}